body {
    font-family: system-ui, apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}

#presentacion {
    background-color: #71C9F8;
    padding: 0;
    background-image: url(../img/logo.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.principal {
    height: 575px!important;
}

#div-terminos {
    padding: 10px 5px;
}

#unete {
    background-color: white;
    padding: 0;
}

.iconos-pequenos {
    fill: white;
}

.div-contenido {
    margin-top: 190px;
    margin-left: 145px;
}

.iconos-principales {
    height: 27px;
    width: 30px;
}

.letra-iconos {
    color:white;
    font-family: system-ui, apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    font-weight: 750;
    font-size: 1.2rem;
}

#contenido-iconos {
    margin-top: 225px;
    margin-left: 22%;
}

#contenido-registro {
    height: auto;
    margin: 0 auto;
    position: relative;
    padding: 15% 21.23%;
}

#logo-registro {
    height: 30px;
    width: 37px;
    margin-bottom: 32px;
}

#texto-mira {
    color: black;
    line-height: 39px;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 70px;
}

#texto-unete {
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
}

.btn {
    border-radius: 25px;
    background-color: #1DA1F2;
    color: white;
    border-color: #1DA1F2;
    height: 38px!important;
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
}

.iniciar-sesion {
    background-color: white!important;
    color: #1DA1F2!important;
}

.links {
    color: #657786;
    line-height: 17px;
    font-size: 13px;
    font-weight: 400;
    margin-left: 1%;
    text-align: center;
}

#Registrate {
    margin-top: -9px;
    margin-bottom: 14px;
}

.links:hover {
    color: #657786;
}

#icono-modal {
    height: 25px;
    width: 25px;
}

.boton-registro {
    height:30px!important;
    width: 90px!important;
    float: right!important;
    font-size: 15px!important;
    line-height: 19.7px!important;
    padding: 0 12px 0 14px;
}

#mod-cont-registro {
    border-radius: 10px;
    border-color: white;
}

#div-crea-cuenta {
    font-size: 23px;
    line-height: 30.2px;
    font-weight: bold;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 25px;
}

input[type=text] {
    background: #F5F8FA;
    border: none;
    border-bottom: 2px solid #657786;
    color:#657786;
    position: relative;
    bottom: 2px;
    padding-top: 10px;
}

input[type=password] {
    background: #F5F8FA;
    border: none;
    border-bottom: 2px solid #657786;
    color:#657786;
    position: relative;
    bottom: 2px;
    padding-top: 10px;
}


input[type=text]:focus {
    outline: none;
}

input[type=password]:focus {
    outline: none;
}

.rotulo-registro {
    background-color: #F5F8FA;
    display: inline-block!important;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color:#657786;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 0;
    padding-top: 5px;
}

.input-linea {
    background-color: #F5F8FA;
    padding-top: 0;
    padding-bottom: 0;
}

.row-registrar {
    box-sizing: border-box!important; 
    display: block!important;
    margin: 15px!important;
}

.nota {
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: #657786;
    float: right;
    padding: 0 25px;
    position: relative;
    bottom: 13px;
}

.correo-invalido {
    position: relative;
    top: 3px;
    left: -13px;
}

.seleccionar-letra {
    color:#1DA1F2!important;
}

.seleccionar-input {
    border-bottom: 2px solid #1DA1F2!important;
}

.seleccionar-letra-invalido {
    color: #E2356B!important;
}

.seleccionar-input-invalido {
    border-bottom: 2px solid #E2356B!important;
}

.link-pequeño {
    font-size: 15px!important;
    line-height: 20px!important;
    font-weight: 400!important;
    color: #1b95e0!important;
}

.link-pequeño:hover {
    text-decoration: underline!important;
    cursor: pointer;
}

#fecha-nacimiento {
    color: black;
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
    margin-bottom: 0;
}

.texto-inf {
    color:#657786;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
}

.fecha {
    border:0px;
    outline:0px;
    border-bottom: 2px solid #657786;
    background: #F5F8FA;
    padding-top: 0;
    position: relative;
    bottom: 2px;
}

.inicio-sesion:hover {
    text-decoration: none;
}

#sesion {
    max-width: 600px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

#titulo-sesion {
    padding-top: 40px;
    font-weight: 700;
    font-size: 23px;
    line-height: 30px;
    padding-top: 35px;
    display: inline-block;
}

#img-sesion {
    height:35px;
    width:35px;
}

.seccion {
    border-right: solid 1px #E6ECF0;
    border-right: solid 1px #E6ECF0;  
}

.barra-lateral {
    padding-left: 3%;
    max-width: 311px!important;
    height: 100%;
    overflow-y: scroll;
}

.svg-circle {
    fill: #1DA1F2;
    width: 30px;
}

.svg-no-seleccion {
    fill: black;
    width: 30px;
    margin-right: 15px;
}

.boton-seccion {
    background-color: white;
    border: none;
    padding: 10px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 25px;
}

.boton-seccion:hover .svg-no-seleccion{
    background-color: #E8F5FE;
    color:  #1DA1F2;
    fill:  #1DA1F2;
}   

.boton-seccion:hover {
    background-color: #E8F5FE;
    color: #1DA1F2;
    fill: #1DA1F2;
} 

.boton-seccion:focus {
    outline: none;
}

.boton-redondo {
    background-color: white;
    border: none;
    padding: 10px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 50%;
}

.boton-redondo:hover {
    background-color: #E8F5FE;
}

.letras-seccion {
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
    color: black;
}

.boton-twittear {
    margin-top: 10px!important;
    height: 48px!important;
    max-width: 211px!important;
    margin-left: 2%!important;
}

::-webkit-scrollbar {
    display: none;
}